files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGbzCCBFegAwIBAgIRAOjLXZ7u3oRH850fmqeBb90wDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMjA0MjIwMDAwMDBaFw0y
      MjA3MjEyMzU5NTlaMBQxEjAQBgNVBAMTCWhtdGdwLmNvbTCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBAJ0AJ/tGEsGbCbndczHho0C9fuyPJEbLSG/4sQGn
      PKGdOVvjIk9+y5x6bdGFK6gUEKKz1+xjNfRo5qxYUZL5kHvh1Gc2FkSGLM7Wj3tt
      7rqlS2SYxgud8OD/KrKCW/6Kzv4oX9w22uhbH3lMugyemDqihv7MjB7OekltKgU0
      ls2khe0uBzbHJligw9nmDfinFzg67tsVGr6UodGD18U9ZYDhAgVPDJD7lrN38jQU
      ALeoVP0E1dBYYMIsxwUFekyqXEfxZnrMRsMAGyA/+wR15sj4iIHN3ktCAYZerfUd
      NJuaVmIZ6npZinfCJKnrwCoJ44e340cVj0grIzZYB3aHMJcCAwEAAaOCAoMwggJ/
      MB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1UdDgQWBBQsI5bf
      sLOIW3xzIADp+SWSa0hr0zAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAd
      BgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEE
      AbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28uY29tL0NQUzAI
      BgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/aHR0cDovL3pl
      cm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5TZWN1cmVTaXRl
      Q0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3NwLnNlY3RpZ28u
      Y29tMIIBAwYKKwYBBAHWeQIEAgSB9ASB8QDvAHYARqVV63X6kSAwtaKJafTzfREs
      QXS+/Um4havy/HD+bUcAAAGAT7fykQAABAMARzBFAiEA9xdrvBWy7bmrexmle8Di
      yee7gh/gZWOlm1Fxs7nVpcUCIA6TmKuAVjeYF5rkrXcoIKnUge7z1DsnAUYtSUiv
      YEE/AHUAQcjKsd8iRkoQxqE6CUKHXk4xixsD6+tLx2jwkGKWBvYAAAGAT7fyYwAA
      BAMARjBEAiAohlFv+9fqcTjPfXxUzco9z4TpJrvXBSvn+b05O/SL7AIgbrPIdrML
      rjpnlN2StPWPLwHEgZQ0grNA10ADqg40engwIwYDVR0RBBwwGoIJaG10Z3AuY29t
      gg13d3cuaG10Z3AuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQBOEAz5KP8TWx0x2tAY
      bvJAkxzI2YrxaEFn4AIEX+QPMhKtu0YFrpjLfoAhNPAKIs1iOyuryg+IIR0SIOv6
      0IqDwevmDJGnGzYi1o+9dJtLl5VPprogM/SHO/cg1HL1uehtfOzmUIJZHh0at4Uh
      LeCsUWeftnKN2taOv5I61tvuUSotAS52IMYDU2RVwDzm9rZJgb3jmz0xCZpMMu2I
      LwKAR3/IXNasUJ/S+sX1JnyE9HfU6ZL/T4gUY3ylAVG7YJ9t06RinnfFAx2XJCmm
      MaTd9GKQc+25MhtDp7uWnxeWA972paZ7TsxpTI48bRN42+CYaHSLC9shtam8aXj4
      Bjhg8sVSPo7M0zSgYtJfQRN+JHFK0Qsgf0q6P0HBe31AezTSa/ckV2F+b9egLXbs
      2s0PiZfw7VDJTmR5gpD9LErnbGeG8TtT7Upc9oGdg1U9hIgyGFLhM2UCGyLOeCgL
      iaaT8zV0it49XVJVO/sJbN0ztgDZ3dorZbLafr9sWpUqvbVCLa55Y3BiHM+zWVHC
      Bs6t2MqJFW+N7bMvFpYM7cZtQN9k/cy4rITi0dydxE9kRiRZIfcQzarKDI/2lRkY
      Ur6MjVCja5p6Ki0p7aSnOxuQw5S0TTXL1dJayfg5XoQXNcutfxId3aFVR9uZUYun
      P0zVg9ySOW2/EYbPkdYi/8L3yw==
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAnQAn+0YSwZsJud1zMeGjQL1+7I8kRstIb/ixAac8oZ05W+Mi
      T37LnHpt0YUrqBQQorPX7GM19GjmrFhRkvmQe+HUZzYWRIYsztaPe23uuqVLZJjG
      C53w4P8qsoJb/orO/ihf3Dba6FsfeUy6DJ6YOqKG/syMHs56SW0qBTSWzaSF7S4H
      NscmWKDD2eYN+KcXODru2xUavpSh0YPXxT1lgOECBU8MkPuWs3fyNBQAt6hU/QTV
      0FhgwizHBQV6TKpcR/FmesxGwwAbID/7BHXmyPiIgc3eS0IBhl6t9R00m5pWYhnq
      elmKd8IkqevAKgnjh7fjRxWPSCsjNlgHdocwlwIDAQABAoIBACTuPHlm6lKQXaFS
      7h31rak06f5LTYU5nDh6j2iMJj799NggfZmlgc+1HNAEO1i2H5OmKkx4qeBsLJat
      z8J64fnCDWyZ1HMZ/MBKyEWIfnd5Glr3dN6WsGq8mxaSg4FEtZwjcykh3ix6AtVN
      rxX42GYyhP66rtswRqOvAgtna3HDu0VrcPZnT7cOU88eiTr6kDw5Xv5xgGTmKDUY
      3M/zPjl90QwD46FTfLRMLuMIRrCm6s5OIU2l2bc6RnV/h110K7J5RG35/ngc3tRI
      ZnQKxx6T2d2EBkVX4auA1AYqwzvbvOELToqj8IVMlioJsuOjW638hMm2ncLR4aDL
      QUdG/QECgYEAzSqUKwHI/vkwN9wl/PCx7FtN3nJw6MEFtFcqgf5uTmQ44mglkIjw
      NsKY65SM/Uqx4md4F4ZsdEh38DLHB5ZPHW5of1sA2byZ/qD6xS8gk6rpxuS5VsVB
      ItysiAO8+1coUFCDbLm1aBqMVbp03lEOhH3YQATwDfch5E6XZQtuD6cCgYEAw+Z9
      2x0TTtsnkK7ujtBdIoN98utbR83ju70FecPipj6ZVckvmff7/zr8dyjGOIzA2h6i
      Z3nC4kton0tNgxpVP4lYKlu8VxHmuglyM15HuLlxDqSwCF0/20kSvL4/yQhqLGH1
      Wi7dVvOkrgL+1nd/90LczUSdNfeiesaXjLjPdZECgYAPUIpW239BaSBsSwaa5uyh
      E/+wByLefOoMGCWYJoHdYCXO4K9NJqunqsb3btNHZPf6SnbwapxV4cLyLxgkPNgS
      /lbWith5aFamZyXQ6j+oRi3FJvWewIKoM4i9bmoA6PSdaiUlTId6CeFH1O88WRiY
      Uzx9KuEwaa4h+KvcYwoIKQKBgQCmvPcgWYYGl0f8wLfxvG2ZI7w+144Q9rBAKemQ
      M2clQqC2QJAQh97n5WffcEgO99ZpkKuAUUXL4I1DEBAAZ5hphNgS7ZPHtEfizoly
      KWv4UXZmFUxzQhNI7NBS78dQr6XW8uWnBb6E9MmVBp2rI3k6lqFi4WTB+21C/Oce
      8mo50QKBgDjDhpvzvMJSf8dR8KDnn8xtBXhecgCarvtNacR4S3tBkQg69+d+eyTi
      3M+KhoXIn234COAMrrGlW02iyZbDz5O5IcyVCAjbfjB2cOkXXAoOxIAQSK7S2QXf
      /D6/Wlutfe8blFDoH/NUQoQ+kJmsN2LHXdGgh7F8+kV4C8K4n2+P
      -----END RSA PRIVATE KEY-----